/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;

  background-color: #f3f3f3;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spaced-card {
  max-width: 400px;
  margin: 1em;
}
