<div>
  <mat-card class="list-card" *ngFor="let cat of cats">
    <mat-card-header>
      <!-- <div mat-card-avatar> -->
      <img
        mat-card-avatar
        class="list-card-image"
        src="{{ cat.image_url }}"
        alt="Photo of a Shiba Inu"
      />
      <!-- </div> -->

      <mat-card-title>{{ cat.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ cat.color | titlecase }} {{ cat.breed }}, {{ cat.age }} years
        old</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">EDIT</button>
      <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
